
#modal {
    margin: 10px 20px;
    height: 690px;
    background-color: aqua;
    width: 600px;
    margin: auto;
    display: none;
    padding: 20px;
}
#mocmd {
    border: none;
    background-color: #fff;
    color: blue;
    margin-left: -5px;
}
