#book-form {
    height: 400px;
    background-color: aqua;
    width: 600px;
    margin: auto;
    display: block;
    padding: 20px;
}
.form {
    margin: 10px 20px;
}
.form-head {
    display: flex;
    justify-content: space-between;
}
